body{
    margin: 0;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 1vh;
    width: 100%;
    background-color: white;
    padding: 3rem;
}
.top-nav:hover {
    background-color: black;
    color: white;
    
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
}
h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 500;
}
h2 {
    margin: 0.5em;
    font-size: 5rem;
    font-weight: 700;
}
p {
    margin: 0;
}
#Section-1{
    background-color: darkgray;
    height: 100vh;
    padding: 3rem 10rem;
}